.carrusel_n {
  position: absolute;
margin-top: 40px;
margin-left: 200px;
  /* right: 20; */
  height: 360px;
  width: 280px;
  display: flex;
  align-items: center;
  background-color: #e9edf1;
  color: white;

}
